<h1>Tres en raya</h1>
<table>
<tr>
  <th><form method='post' action='/marcar1'><input type='submit' value=<%=@valor1;%>></form></th>
  <th><input type='submit' value='2'></th> 
  <th><input type='submit' value='3'></th>
</tr>
<tr>
  <td><input type='submit' value='4'></td>
  <td><input type='submit' value='5'></td> 
  <td><input type='submit' value='6'></td>
</tr>
<tr>
  <td><input type='submit' value='7'></td>
  <td><input type='submit' value='8'></td> 
  <td><input type='submit' value='9'></td>
</tr>
</table>